arith
arrayone
assign_st
bmi
bondini.s
carrots
chartype
convert
divide
exceed
floatnum
fltadd
getinfo
height
hexoct1
hexoct2
init
instr1
instr2
instr3
lat
limits
modulus
morechar
myfirst
numstr
ourfunc
ourfunc1
sqrt
strings
strtype1
strtype2
strtype3
strtype4
strutur
test
typecast
xxd
